*{

	margin: 0px;
	padding: 0px;
}
h2{


}

h6{


}
p{


}
.button{

	background-color: green;
	border: none;
}
.img-1{

	background-size: cover;
}
.img-2{
	text-align: center;
}
.img-3{


}
.img-4{

	
}